/* =slider */

.slider {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
}

.slider__item {
    display: inline-block;
    width: 100%;
    transition: all .5s ease-out;
    font-size: 14px;
}

/* =button */

.slider__button {
    position: absolute;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 40px;
}

.slider__next {
    left: 0;
}

.slider__prev {
    right: 0;
}