/* =slider */

.slider {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
}

.slider__item {
    display: inline-block;
    width: 100%;
    transition: all .5s ease-out;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* =button */

.slider__button {
    position: absolute;
    top: 0;
    z-index: 9999;
    height: 100%;
    width: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(https://www.ibs.it/Content/images/arrow-left.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
}

.slider__next {
    right: 0;
    transform: rotate(180deg);
}

.slider__prev {
    left: 0;
}

/* =placeholder */

.placeholder {
    position: absolute;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10px;
}

.placeholder__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.placeholder__item {
    position: relative;
}

.placeholder__item:hover {
    color: #238C9F;
}

.placeholder__label {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    color: currentColor;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.25s linear;
}


.placeholder__label::before {
    display: inline-block;
    content: "";
    height: .6rem;
    width: .6rem;
    margin-right: 0.625rem;
    border: 0.2rem solid currentColor;
    border-radius: 50%;
    transition: all 0.25s linear;
}

.placeholder__radio {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.placeholder__radio:checked+.placeholder__label::before {
    border: 0.3rem solid #014653;
    background: #fff;
}

/* play */
.placeholder__check {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.placeholder__play {
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    color: currentColor;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.25s linear;
}

.placeholder__play::before {
    content: "";
    height: 1rem;
    width: 1rem;
    margin: 0 0 0 12px;
    transition: all 0.2s linear;
    border-style: double;
    border-width: 0 0 0 1rem;
    box-sizing: border-box;
}

.placeholder__check:checked+.placeholder__play::before {
    width: 1rem;
    height: 1rem;
    margin: 0 0 0 12px;
    border-style: solid;
    border-width: .6rem 0px .6rem 1rem;
    border-color: transparent transparent transparent #202020;
    box-sizing: border-box;
}